html {
    --bg:  #FFFFFF;
    --color-text: #000000;
    --bgpanel-one: #FFBFDA;
    --bgpanel-two: #E9BFFF;
    --bgpanel-three: #BFE0FF;
    --bgpanel-four: #D690A9;
    --color-headings: #FFBFDA;
}

/* BODY E HTML */
body {
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto Mono', monospace;
    color: var(--color-text);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.logo {
    width: 220px;
}

/* CAIXAS */
.grid {
    display: grid;
    margin: 15px;
    grid-template-columns: 1.7fr 1.5fr 1.7fr;
    grid-template-rows: 85vh;
    grid-template-areas: 
                    'a b c'
                    'a b c'
                    'a b c';
    gap: 13px;
}

.caixa1 {
    background-color: var(--bgpanel-one);
    grid-area: a;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
}

.caixa1:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.caixa2 {
    display: grid;
    /*grid-template-columns: 1fr;
    grid-template-rows: 22vh 22vh 22vh;
    grid-area: b;*/

    gap: 10px;
    background-color: transparent;
    border-radius: 10px;
}

.caixa3 {
    background-color: var(--bgpanel-two);
    grid-area: c;
    border-radius: 10px;
    transition: 0.3s;
}

.caixa3:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.gridB {
    background-color: var(--bgpanel-three);
    border-radius: 10px;
    height: 223px;
    transition: 0.3s;
}

.gridB:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.gridA {
    background-color: var(--bgpanel-four);
    border-radius: 10px;
    height: 85px;
    display: flex;
    transition: 0.3s;
}

.gridA:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* CONFIG CAIXAS */
.caixa1 img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: 12px;
}

.gridA img {
    width: 70px;
    float: left;
    justify-content: center;
    align-content: center;
}

.gridA .text2 {
    display: flex;
    align-items: center;
    padding-block: 20px;
    margin-left: 12px;
}

.gridB img {
    float: left;
    width: 170px;
    margin: 10px;
}

.gridB .titleB {
    margin: 12px;
}

.gridB .texto4 {
    margin: 20px;
}

.caixa3 img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    float: left;
    margin: 12px;
}

.caixa3 .textright {
    text-align: right;
    margin: 12px;
}

.caixa3 .title3 {
    margin: 12px;
}

li {
    list-style-type: none;
}

/* BOTAO */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}